.env
node_modules
cache
mnemonic.txt
pk.txt
*.txt
.DS_Store 
out

# Keep related abi
out/*
!out/JBVeNft.sol/*
!out/JBVeNftDeployer.sol/*

# Keep the latest deployment only
broadcast/*/*
!broadcast/*/run-latest.json