node_modules
.env

# Hardhat files
cache
artifacts
deployments/localhost/**
out/

# Mac OSX
.DS_Store

# Code coverage reports
coverage/
coverage.json

*.txt

# VSCode
workspace.code-workspace

*.log
